@{
    ViewBag.Title = "OrderMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
<h2>OrderMain</h2>

}

<ul>
    <li><a href="#">Order 1</a> </li>
    <li><a href="#">Order 2</a></li>
    <li><a href="#">Order 3</a></li>
    <li><a href="#">Order 4</a></li>

</ul>
